<?xml version='1.0' encoding='UTF-8'?>
<config>
    <name>AIO Ukrainian reaper.</name>
    <mainloadfile>runner.py</mainloadfile>
    <baseloadargs>--rpc 5000</baseloadargs>
    <links>
        <git>https://github.com/git-for-windows/git/releases/download/v2.36.1.windows.1/PortableGit-2.36.1-32-bit.7z.exe</git>
        <py32>https://www.python.org/ftp/python/3.10.4/python-3.10.4-embed-win32.zip</py32>
        <py64>https://www.python.org/ftp/python/3.10.4/python-3.10.4-embed-amd64.zip</py64>
        <pywin7>https://www.python.org/ftp/python/3.8.9/python-3.8.9-embed-win32.zip</pywin7>
        <posh32>https://github.com/PowerShell/PowerShell/releases/download/v7.2.4/PowerShell-7.2.4-win-x86.zip</posh32>
        <posh64>https://github.com/PowerShell/PowerShell/releases/download/v7.2.4/PowerShell-7.2.4-win-x64.zip</posh64>
        <load>https://github.com/porthole-ascend-cinnamon/mhddos_proxy.git</load>
        <targets>https://raw.githubusercontent.com/Aruiem234/auto_mhddos/main/runner_targets</targets>
        <banner>https://raw.githubusercontent.com/ahovdryk/aio_reaper/master/banner</banner>
        <funclib>https://raw.githubusercontent.com/ahovdryk/aio_reaper/master/functions.ps1</funclib>
        <runner>https://raw.githubusercontent.com/ahovdryk/aio_reaper/master/runner.ps1</runner>
        <main>https://raw.githubusercontent.com/ahovdryk/aio_reaper/master/main.ps1</main>
        <icon>https://raw.githubusercontent.com/ahovdryk/aio_reaper/main/1984PC.ICO</icon>
        <kickstart>https://raw.githubusercontent.com/ahovdryk/aio_reaper/main/kickstart.ps1</kickstart>
    </links>
    <folders>
        <install>AIOReaper</install>
        <git>Git</git>
        <python>Python</python>
        <posh>Powershell</posh>
        <load>Mhddos_proxy</load>
    </folders>
    <limits>
        <description>В цій секції в гігабайтах задаються пороги спрацювання попереджень і зупинок роботи</description>
        <diskspace>3</diskspace>
        <lowdisk>10</lowdisk>
        <RAM>4</RAM>
        <targets>2100</targets>
    </limits>
    <messages>
        <lowdiskspace>У вас мало вільного місця на системному диску. Із роботою скрипту можуть виникнути різноманітні неочікуванності. Будте ласкаві, вивільніть щонайменше 10 Гб. </lowdiskspace>
        <insufficientspace>Скрипт потребує для роботи не менше трьох гігабайт місця на системному диску</insufficientspace>
        <downloading>Завантажуємо</downloading>
        <unpacking>Розпаковуємо</unpacking>
        <pythonmodule>Встановлюємо модуль Python</pythonmodule>
        <installcomplete>Завершено завантаження і розпаковку навантаження.</installcomplete>
        <runningadmin>Скрипт запущено із правами адміністратора. Це - неправильно, такий режим роботи не підтримується. Будьте ласкаві, запустіть програму за інструкцією.</runningadmin>
        <memory>Пам'яті вільно</memory>
        <cpu>ЦП</cpu>
        <targets>Цілей</targets>
        <minutes>хвилин</minutes>
        <network>мережі зайнято.</network>
        <tillupdate>До оновлення</tillupdate>
        <runninglite>Скрипт не знайшов достатньо ресурсів для повномасштабної атаки. Запускаємо спрощену версію.</runninglite>
        <pressenter>Натисніть Ентер [⏎] для завершення...</pressenter>
        <runnerstart>Бігунець версії</runnerstart>
        <endrun>Роботу закінчено. Дякую за роботу. Сподіваюсь побачити вас ще.</endrun>
        <presstoexit>Натисніть [Ctrl] + [C] для виходу з програми.</presstoexit>
    </messages>
    <erroraction>Continue</erroraction>
    <liteblocksize>50</liteblocksize>
    <timers>
        <main>360</main>
        <minutesperblock>60</minutesperblock>
    </timers>
    <titles>
        <ok>💀 [OK]</ok>
        <started>💀 [Запуск]</started>
        <restart>💀 [Перезапуск]</restart>
        <died>💀 [Виходимо]</died>
        <error>💀 [Помилка]</error>
        <exiting>💀 [Виходимо]</exiting>
        <completed>💀 [Закінчено]</completed>
    </titles>
</config>
